.footer {
    padding-top: 40px;
    color: #1e1e28;
    width: 100%;

    .footer_content {
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        font-weight: 400;
        color: #1e1e28;
        font-size: 13px;
    }
}
